# Python cache
__pycache__/
*.pyc

# Data
data/raw/
data/processed/

# Experiments / model checkpoints
experiments/
*.pt
*.h5

# Jupyter notebook checkpoints
*.ipynb_checkpoints

# VSCode or other editors
.vscode/

